.parent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    padding: 50px;
    width: 100%;
    max-width: 680px;
    background-color: white;
    box-shadow: 1px 1px 15px -7px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.imgDiv{
    width:100% ;
    text-align: center;
    margin-bottom: 20px;
}

.profile-badge{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    height: 180px;
    width: 180px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 50%;
}
.upload-label{
    cursor: pointer;
}

.upload-icon{
    width: 70px;
    height: 35px;
    margin-top: 10px;
}

.login-form-button{
    margin-top: 20px;
    width: 100%;
}

.notification {
    position: fixed;
    top: 1rem; /* equivalent to Tailwind's top-4 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fc3b3b; /* equivalent to Tailwind's bg-blue-500 */
    color: white; /* equivalent to Tailwind's text-white */
    padding: 1rem 2rem; /* equivalent to Tailwind's px-4 py-2 */
    border-radius: 0.375rem; /* equivalent to Tailwind's rounded */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* equivalent to Tailwind's shadow-lg */
    z-index: 9999;
  }
  